celery==4.4.7
django==3.0.6
django-celery-beat
django-cors-headers
django-import-export
django-pandas
psycopg2-binary
django-zombodb
djangorestframework
django-filter
django-rest-swagger
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
pandas
redis
requests
xlrd
xlwt
django_redis
oss2
apollo-client
kafka-python
psutil
djorm-ext-pool